@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Indie+Flower&family=Quicksand&display=swap');

:root{
    --mainBg: #fafafa;
    --asideBg: #b35059;
    --asideColor: #1d3b66;
    --mainColor: #f38945;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}



.container{
    display: flex;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

/* Aside */

aside{
    padding: 30px;
    background-color: var(--asideBg);  

    min-width: 20vw;
}

h3{
    font-size: 1.8rem;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

ul li{
    display: flex;
    font-size: 1.3rem;
    padding: 8px;
    list-style-type: none;
    cursor: pointer;
    transition-duration: 300ms;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
} 

.active{
    background-color: var(--asideColor);
    color: var(--mainBg);
    fill: var(--mainBg);
    border-left: 5px solid var(--mainColor);
}

ul li:hover{
    background-color: var(--asideColor);
    color: var(--mainBg);
    fill: var(--mainBg);
} 

ul li svg{
    margin-right: 10px;
}

/* Main */

main{
    background-color: var(--mainBg);
    width: 100%;

}

.currentView{
    text-align: center;
    font-size: 2rem;
    margin: 30px;
    align-items: center;
}

#tasks{
    margin: 1%;
    gap: 12px;
}

.task svg:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.task{
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 1%;
    background-color: var(--asideColor);
    color: var(--mainBg);
    fill: var(--mainBg);
    display: flex;
    justify-content: space-between;
}

#taskName{
    font-size: 1.2rem;
    font-weight: bolder;
}

.left{
    display: flex;
    align-items: center;
    gap: 15px;
}

.right{
    align-items: center;
    display: flex;
    gap: 5px;
}

#doneButton, #doneButtonEdit{
    padding: 5px;
    background-color: var(--asideBg);
    color: var(--mainBg);
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 200ms;
}
#doneButton:hover, #doneButtonEdit:hover{
    transform: translateY(-3px);
}

.addTask{
    margin-left: 10px;
    padding: 10px;
    background-color: var(--mainColor);
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition-duration: 200ms;
    display: none;
}
.addTask:hover{
    transform: translateY(-5px);
}

#title, #prio, #due, #editDue, #editPrio, #editTitle{
    border-radius: 5px;
    padding: 7px;
    border: none;
}

#taskAdd{
    margin: 1%;
    display: none;
}

#taskEdit{
    margin: 1%
}

#error{
    margin-left: 15px;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
}

.done{
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
}

.notDone{
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
}

.checked{
    text-decoration: line-through;
}

.projectAdd{
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: var(--asideColor);
    color: var(--mainBg);
    font-weight: bold;
    transition-duration: 200ms;
}
.projectAdd:hover{
    transform: translateY(-5px);
}

.visible{
    visibility: hidden;
}

.newProject{
    padding: 8px;
    background-color: var(--mainBg);
    border: 1px solid var(--asideBg);
    border-radius: 8px;
}
.newProject:focus{
    outline: none;
}

@media only screen and (max-width: 840px) {
    .task{
        flex-direction: column;
    }
    
    .container{
        flex-direction: column;
    }
  }